.menu > div {
    width: 26px;
    height: 1px;
    background: #ffffff;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background: none;
    padding: 10px;
}

header{
    background: var(--background_color);
    padding: 0 40px 0 34px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--borders_color);
}

.left-side-header {
    display: flex;
    align-items: center;
    gap: 34px;
}