<div class="video-container">
    <div class="video-title">
        <h3>{{video?.title}}</h3>
    </div>
    <div class="box-video-area">
        <iframe 
        [src]="video_url" 
        title="YouTube video player" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" 
        allowfullscreen="">
       </iframe>       
    </div>
    <div class="video-info">
        <div class="video-data">
            <p class="views">Visualizações: {{video?.views}}</p>
            <p class="launch">Lançamento: {{video?.uploadedAt | date: 'dd/MM/yyyy'}}</p>
        </div>
        <p class="description">
            {{video?.description}}
        </p>
    </div>

</div>





