.side-menu {
    width: 250px;
    display: flex;
    background: var(--background_color);
    height: 100%;
    border-width: 1px 1px 0px 0px;
    border-style: solid;
    border-color: var(--borders_color);
    padding: 31px 25px;
    box-sizing: border-box;
}

.side-menu ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}
.side-menu li {
    padding: 12px 17px;
    /* background: blue; */
    border-radius: 8px;
    border: 1px solid var(--borders_color);
    transition: .2s all ease-in-out;
}

.side-menu a {
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
}


.side-menu .active{
    background: var(--restic_blue);
    border: 1px solid var(--restic_blue);
}

.side-menu li:not(.active):hover{
    background: var(--restic_purple);
    border: 1px solid var(--restic_purple);

}


.side-menu.menu-open {
    width: max-content;
}

@media(max-width:769px){
    .side-menu {
        position: fixed;
        left: -100%;
        transition: .2s all ease-in-out;
        background: var(--background_color);
        z-index: 1020;
    }
    
    .side-menu.menu-open {
        left: 0;
    }
}