/* You can add global styles to this file, and also import other style files */

:root {
    --background_color: #141518;
    --text_color:#ffffff;
    --borders_color: #5E5E5E;
    --restic_blue: #1414d2;
    --restic_purple: #844bda;
    --restic_green: #00af95;
}







body {
    margin: 0;
    background: var(--background_color);
    color: var(--text_color)
}


button {
    appearance: none;
    outline: none;
    border: 0;
    background: transparent;
}

li {
    display: block;
    list-style: none;
}

ul {
    display: block;
    margin: 0;
    padding: 0;
}

body, 
html, 
app-root {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

p,
h3 {
    margin: 0;
}




.flex-component {
    display: flex;
}

.max {
    width: 100%;
    height: 100%;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

.flex-video {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px;
}
.col {
    flex-direction: column;
}

@media(max-width:769px){
    .flex-video {
        padding: 20px;
    }
}


